@import "vars"
@import "fonts"

body,
body *
    font-family: "Roboto", sans-serif
    margin: 0
    box-sizing: border-box 
    
body
    color: var(--tg-theme-text-color)
    background: var(--tg-theme-bg-color)
    overflow: hidden
body *
    box-sizing: border-box
.content
    width: 700px 
    max-width: 95vw 
    margin-left: auto 
    margin-right: auto
    height: 100vh
    display: flex 
    align-items: center 
    justify-content: center
    padding-top: 10px 
    padding-bottom: 10px
    position: relative
h1 
    text-align: center  
    margin-bottom: 40px
.button 
    background: var(--tg-theme-button-color)
    background: #5ac8fb //test color
    color: var(--tg-theme-button-text-color) 
    color: #fff //text color
    background: #017df8 

.title 
    text-align: center
    font-size: 26px
    font-weight: 600

.prize-screen:after 
    content: ''
    position: absolute 
    top: 50%
    left: 50%
    background: rgba(0, 0, 0, .6)
    width: 100vw 
    height: 100vh
    transition: all 1s
    transform: translateX(-50%) translateY(-50%)
    z-index: -1
    opacity: 1
.modal-content
    background: #fff
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
    background-color: #fff
    padding: 30px 20px
    border-radius: 10px
.wheel-container:after
    content: url('../img/center.svg')
    position: absolute
    top: 50%
    left: 50%
    transform: translateY(-50%) translateX(-50%)
    z-index: 5
@import "media"



